
#borderimg1 {
    border: 10px solid red;
    padding: 15px;
    }

#borderimg2 {
    border: 10px solid mintcream;
    padding: 15px;
    }

#borderimg3 {
    border: 10px solid black;
   padding: 10px;

}
